streamlit>=1.36
pillow
numpy
pandas
albumentations
psutil
opencv-python-headless
requests
torch==2.2.1+cpu
torchvision==0.17.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
ultralytics==8.2.0
lightning
torchmetrics
